/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$linen: #F8F3ED;
$light-gray: #C0C0C0;
$lightest-gray: #F0F0F0;
$dark-white: #F9F9F9;
$charcoal: #202020;
$white: #FFFFFF;

$sans-serif: sans-serif;
$raleway: 'Raleway', sans-serif;

@import "css_reset"; // 1
@import url('https://fonts.googleapis.com/css?family=Raleway'); // 2
@import "nav_bar"; // 3
@import "splash"; // 4
@import "auth_form"; // 5
@import "userpage";
@import "photos"; // 6
@import "homepage";
