.login-form-container {
  font-family: $raleway;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container > button {
  cursor: pointer;
}

.login-form-container > button:hover {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.login-form-box > h3,
.login-form-box > ul {
  width: auto;
  display: block;
  margin-left: 20px;
}

.login-form-box > ul {
  font-size: 12px;
  color: red;
}

.login-form {
  margin: 15px;
}

.login-form label,
.login-form input {
  margin-bottom: 15px;
  width: 260px;

}

.login-form button {
  width: 260px;
  margin: 15px 0px;
  text-align: center;
  cursor: pointer;
}

.login-form button:hover {
  background-color: $charcoal;
  color: $linen;
}

.login-form >label {
}

.login-form button,
.login-form input {
  border: 1px solid $charcoal;
  padding: 10px 0px;

}

.login-form p,
.login-form a {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 10px 0px;
}

.login-form a:hover {
  color: blue;
  font-weight: bold;
}
