// Place all the styles related to the Follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follows-container {
  display: flex;
  flex-direction: column;
}

.follows-container i {
  font-size: 20px;
}

.follows-container i:hover {
  color: red;
  cursor: pointer;
}

.follows-container h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  // background-color: $charcoal;
  color: $charcoal;
  padding: 5px 0px;
  margin: 7px 55px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

  // border-bottom: 1px solid black;

}

.follows-container li a {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  align-items: center;
}

.follows-container li a p {
  font-size: 16px;

}


.follows-container li a:hover {
  background-color: $charcoal;
  color: $linen;
}


.follows-container img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}


.follows-container .switchFollow {
  margin-top: 20px;
  display: flex;
  font-size: 12px;
  justify-content: center;
}

.follows-container .switchFollow:hover {
  color: blue;
  cursor: pointer;
}
