.nav {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
  // background-color: blue;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-family: $raleway;
  text-align: center;
  margin-left: 3px;
}

.logo:hover {
  background-color: $lightest-gray;
}

.logo > img {
  height: 40px;
  width: 40px;
}

.logo > h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.login-signup,
.header-right,
.home-nav-right {
  display: flex;
  justify-content: flex-end;
  font-family: $raleway;
}

.login-signup > button,
.home-nav-right > a {
  display: flex;
  justify-content: center;
  padding: 7px 7px;
  border: 1px solid $charcoal;
  margin: 3px 3px;
  width: 75px;
  text-align: center;
  vertical-align: center;

  background-color: $charcoal;
  color: $linen;
  font-size: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
}

.home-nav-right > .header-name {
  display: flex;
  justify-content: center;
  padding: 3px 3px;
  border: 1px solid $charcoal;
  margin: 3px 3px;
  font-size: 14px;
  width: 100px;
  text-align: center;
  vertical-align: center;
  color: $charcoal;
}

.home-nav-right > .header-name > img {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
}

.home-nav-right > .header-name > p {
  padding-left: 5px;
  padding-top: 4px;
}

.header-upload {
  display: flex;
  justify-content: center;
  padding: 1px 1px;
  border: 1px solid $charcoal;
  margin: 3px 3px;
  font-size: 24px;
  width: 40px;
  text-align: center;
  vertical-align: center;
  color: $charcoal;
}

.login-signup > button:hover,
.home-nav-right > a:hover,
.header-upload:hover {
  background-color: $darkest-gray;
  color: $linen;
  cursor: pointer;
}
