.grid {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.item {
  margin: 10px;
  // border: 1px solid black;
}


.item a img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.item a img:hover {
	cursor: pointer;
	// box-shadow: 0px 1px 1px 2px rgba(0,0,0, .5);
  border: solid 1px grey;
}

@media (max-width: 1200px) {
  .grid {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .grid {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .grid {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .grid {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

//////////////////////////////////////////////////////////

.photo-show-container,
.photo-edit-container,
.photo-create-container {
  display: flex;
  flex-direction: column;
  font-family: $raleway;

}

.photo-show-container button,
.photo-edit-container button,
.photo-create-container button {
  font-size: 20px;
}

.photo-show-container button:hover,
.photo-edit-container button:hover,
.photo-create-container button:hover {
  color: red;
	cursor: pointer;

}

.photo-show,
.photo-create {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.photo-box {
  margin: 0px;

  position        : fixed;
  top             : 110px;
  left            : 110px;
  right           : 400px;
  bottom          : 110px;

  // background-color: blue;

}

.photo-box img {
  object-fit: contain;

  height: 100%;
  width: 100%;

}

.photo-info {
  border-left: 2px solid $light-gray;
  width: 240px;
  padding-left: 20px;
  position        : fixed;
  top             : 110px;
  right           : 110px;
  bottom          : 110px;



  // background-color: red;
}


.photo-user-info {
  display: flex;
  flex-direction: row;
  padding: 10px;

  // background-color: green;
}

.photo-user-info img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.photo-details,
.photo-form-box {
  padding: 10px;
  height: 400px;
	display: flex;
	flex-direction: column;
  margin-left: 10px;
  margin-top: 30px;

  // background-color: red;
}

.photo-details h2,
.photo-form-box h1 {
  margin: 15px 0px;
  font-weight: bold;
  font-size: 20px;
}


.photo-form-box h1 {
  background-color: $charcoal;
  color: $linen;
  text-align: center;
  padding: 2px 0px;
}

.photo-details p {
  // margin: 15px 5px;
  font-size: 14px;

}


#id {
	height: 20px;
}

#desc {
	height: 135px;
}

.edit-button,
.update-button,
.create-button {
  display: flex;
  justify-content: flex-end;

  // background-color: orange;
}

.edit-button button,
.update-button button,
.create-button button {
  padding: 2px 5px;
  color: $charcoal;
  border: 1px solid $charcoal;
  margin-right: 5px;
}

.edit-button button:hover,
.update-button button:hover,
.create-button button:hover {
  color: $linen;
  background-color: $charcoal;
	cursor: pointer;
}
