.grid,
.grid-home {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.item,
.item-home {
  margin: 10px;

  position: relative;
}


.item a img,
.item-home a img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;

  display: block;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $charcoal;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ;
}

.item-home:hover .overlay,
.item:hover .overlay {
  height: 30px;
  cursor: pointer;
}

.text {
  white-space: nowrap;
  color: $linen;
  font-size: 11px;
  position: absolute;
  // overflow: hidden;
  top: 50%;
  left: 10px;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .grid,
  .grid-home {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .grid,
  .grid-home {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .grid,
  .grid-home {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .grid,
  .grid-home {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

//////////////////////////////////////////////////////////

.grid-home {
  padding-top: 50px;
}

.photo-show-container,
.photo-edit-container,
.photo-create-container {
  display: flex;
  flex-direction: column;
  font-family: $raleway;

}

.photo-show-container button,
.photo-edit-container button,
.photo-create-container button,
.error-upload button {
  font-size: 20px;
}

.photo-show-container button:hover,
.photo-edit-container button:hover,
.photo-create-container button:hover,
.error-upload button:hover {
  color: red;
	cursor: pointer;
}

.photo-show,
.photo-create {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.photo-box {
  margin: 0px;

  position        : fixed;
  top             : 110px;
  left            : 110px;
  right           : 400px;
  bottom          : 110px;

  // background-color: blue;

}

.photo-box img {
  object-fit: contain;

  height: 100%;
  width: 100%;

}

.photo-info {
  border-left: 2px solid $light-gray;
  width: 240px;
  padding-left: 20px;
  position        : fixed;
  top             : 110px;
  right           : 110px;
  bottom          : 110px;



  // background-color: red;
}


.photo-user-info,
.photo-user-info a {
  display: flex;
  flex-direction: row;
  padding: 10px;

  // background-color: green;
}

.photo-user-info a {
  width: 100%;
  padding: 0px;
  margin: 10px;

  // background-color: green;
}

.photo-info a:hover {
  background-color: $charcoal;
  color: $linen;

  // background-color: green;
}

.photo-user-info img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.photo-user-info .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-details,
.photo-form-box {
  padding: 10px;
  height: 200px;
	display: flex;
	flex-direction: column;
  margin: 20px 0px;
  margin-left: 10px;


  // background-color: red;
}

.photo-details h2,
.photo-form-box h1 {
  margin: 10px 0px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.photo-form-box h1 {
  // background-color: $charcoal;
  color: $charcoal;
  text-align: center;
  padding: 2px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.photo-form-box ul li {
  font-size: 12px;
  color: red;
}

.photo-details p {
  // margin: 15px 5px;
  font-size: 14px;

}


#id {
	height: 20px;
}

#desc {
	height: 140px;
}

.edit-button,
.update-button,
.create-button {
  display: flex;
  justify-content: flex-end;

  // background-color: orange;
}

.edit-button button,
.update-button button,
.create-button button,
.error-upload-button button {
  padding: 10px 10px;
  border: 1px solid $charcoal;
  margin-right: 5px;

  background-color: $charcoal;
  color: $linen;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
  width: 60px;
  text-align: center;
}

.edit-button button:hover,
.update-button button:hover,
.create-button button:hover,
.error-upload-button button:hover {
  color: $linen;
  background-color: $darkest-gray;
	cursor: pointer;
}
