
.hero-image {
  background: image-url("DSC_2194.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 800px;
}

.hero-text {
  color: $charcoal;
  text-align: center;
  font-family: $raleway;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px 0px
}

.hero-text > h1 {
  font-size: 40px;
  margin: 30px 0px;
}

.hero-text > h4 {
  font-size: 27px;
  margin: 30px 0px;
}

.hero-text > button {
  padding: 10px;
  border: 2px solid $charcoal;
  background: none;
  color: $charcoal;
  font-family: sans-serif;
  font-size: 15px;
  width: 75px;
}

.hero-text > button:hover,
.foot-right a:hover {
  background-color: $charcoal;
  color: $linen;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-family: $raleway;
}

.foot-right {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.foot-right a {
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}
