
.hero-image {
  background: image-url("DSC_2194.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 700px;
}

.hero-text {
  color: $charcoal;
  text-align: center;
  font-family: $raleway;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px 0px
}

.hero-text > h1 {
  font-size: 40px;
  margin: 30px 0px;
}

.hero-text > h4 {
  font-size: 27px;
  margin: 30px 0px;
}

.hero-text > button {
  padding: 10px;
  // border: 2px solid $charcoal;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 75px;
  font-weight: 300;

  background-color: $charcoal;
  color: $linen;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
}

.hero-text > button:hover,
.foot-right a:hover {
  background-color: $darkest-gray;
  color: $linen;
  cursor: pointer;

  border-radius: 2px;

}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-family: $raleway;
}

.foot-right,
.foot-left {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.foot-left {
  width: 500px
}

.foot-left h1,
.foot-left p {
  margin: 10px;
}

.foot-left p {
  font-size: 14px;
}

.foot-right a {
  font-size: 11px;
  // font-weight: bolder;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
