
.hero-image {
  background: image-url("DSC_2194.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 700px;
}

.hero-text {
  color: #282828;
  text-align: center;
  font-family: 'Raleway';
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px 0px
}

.hero-text > h1 {
  font-size: 40px;
}

.hero-text > h4 {
  font-size: 27px;
}

.hero-text > button {
  padding: 10px;
  border: 2px solid #202020;
  background: none;
  color: #202020;
  font-family: sans-serif;
  font-size: 15px;
}

.hero-text > button:hover {
  background-color: #202020;
  color: #fbf2ea;
}
