.error-upload {
  display: flex;
  flex-direction: column;
}

.error-upload h1 {
  font-size: 30px;
  margin: 20px;
}


.error-upload-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
