.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F9F9F9;
}

.user-cover-img {
  margin-top: 50px;
  width: 100%;
}

.user-cover-img img {
  width: 100%;

}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.user-info img,
.user-info h1,
.user-info p,
.user-info .follow-buttons,
.user-info .edit-user-button {
  padding: 5px;
}

.user-info img {
  height: 100px;
  width: 100px;
}

.user-info h1 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user-info p {
  font-size: 14px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

.user-info p {
  padding-bottom: 30px;
}

.follow-buttons button,
.edit-user-button button,
.follow-button button {
  text-align: center;
  margin: 5px 10px;
  border: 1px solid $charcoal;
  padding: 12px 12px;

  background-color: $charcoal;
  color: $linen;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
}

.follow-buttons > button:hover,
.edit-user-button > button:hover,
.follow-button > button:hover {
  color: $linen;
  background-color: $darkest-gray;
  cursor: pointer;
}

////////////////////////////////////////

.user-edit-container,
.user-edit-form {
  display: flex;
  flex-direction: column;
}

.user-edit-form {
  align-items: center;
}

.user-edit-form > h1 {
  width: 100%;
  padding: 5px 0px;
  // background-color: $charcoal;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  // border-bottom: 1px solid $charcoal;
}

.user-edit-form > label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user-edit-form textarea {
  height: 75px;
  width: 300px;
}

.user-edit-form img {
  height: 100px;
  width: auto;
}

.user-edit-form button i {
  margin-right: 10px;
}

.user-edit-form > button {
  margin: 10px;
  padding: 12px 0px;
  border: 1px solid $charcoal;

  background-color: $charcoal;
  color: $linen;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
  width: 250px;
  text-align: center;

}

.user-edit-form > button:hover {
  color: $linen;
  background-color: $darkest-gray;
  cursor: pointer;
}

.user-edit-container > button {
  font-size: 20px;
}

.user-edit-container > button i:hover {
  color: red;
  cursor: pointer;
}
